{% load static %}  

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="{% static 'mybiocss.css' %}" type="text/css" rel = "stylesheet">

<title>Faza's</title>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'mybiojs.js' %}"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
</style>

</head>

<body onload="myFunction()" style="margin:0;"></body>
<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <h2>Welcome to...</h2>
</div>

<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

    <div class="row">
        <div class = "col-md-5">
        </div>
        <h1 class="head-accordion">Faza's Profile</h1>
    </div>

    <div class="row">
            <div class = "col-md-3"></div>
            <img src="https://lh3.googleusercontent.com/EMmEGWZ1KpDQEg1xNNf7vgmsg803G9qaXG_KVt6994FIE85X28V-ug1VyiM7shUvYJZQX_awYyEfcHAw526e0-1XEi5rbcg-roWdhnWa4zeXgdiSUj4GdUt9PLiNWqaQ3zPN1EagutNT6-64GRDqbmW1aRpa4j72RrZVE00_OphtS-F9sWhaRyWtbz4qjz8syqCVzm57Sw6EfKV8GyyFYNPULgvOJdsCgZeQbWVDz8aN_Rn5FtNlcyGmnsCbk2-LmOuXIHOEgHFsOanqVgLdnN51Bx5EfC7x4RGHtCNxMgRkpxCpW_PVzW7VqW8qhHwUGTIjF9fs4xksIcD6I1S2RcOKO2K0U1xlIGoHc9jP5GMMKSdWCfQlgv_jbCbTryU_rdFBd1aIfvi4-MROthtxJ42i82EXuQVQkgm71K9pv4_vmHaUtnf-SrB-6nVJlRk7NN9tvskFFNbINfrYA5KuTbPyygS6n63Ma8SyEyKgs4AwHMCmbtk1cd7gp5NuoOmUM_bO12B0vVjov5dXW3zhzareS518NOzIXcGzW_UDtYP_67-KxRj8WkoLJDbiRdiTYDg9vnf3j1QK3NMcYIEnC6ls06oh-x4fVIP1UpMWMs_vn9pUWdMIsblYkGZjTd0=w720-h480-no" class="img-rounded" alt="Cinque Terre" width="50%">
        </div>

    <div class="row">
        <div class="row">
            <div class = "col-md-11"></div>
            <button id ="subsme" class="btn btn-dark m-2"><a style="background-color:transparent;color:white"href="{% url 'story8:subsme'%}">subsme</a></button>
        </div>
        
        <div class = "col-md-5"></div>
        <p>
            Faza Siti Sabira Prakoso
            <br>
            1706023334
            <br>
            Bogor, 10 Juni 1999
        </p> 

        <div class="row">
                <div class = "col-md-11"></div>
                <button type="button" class="btn btn-warning">Change Theme</button>
            </div>

            
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div id="flip">Schedule</div>
        <div id="panel"> 
            <p>
                <br>
                Kuliah
                <br>
                Rapat Keilmuan
                <br>
                Makan
                <br>
                Jalan - jalan
                <br>
            </p>
        </div>

        <div id="flip2">Experience</div>
        <div id="panel2"> 
            <p>
                <br>
                HumPub OH Fasilkom 2017
                <br>
                Laison Officier WisGan Fasilkom 2017
                <br>
                Laison Officier OIM UI 2017
                <br>
                Online Marketing Compfest X 2018
                <br>
            </p>
        </div>
        
        <div id="flip3">Achievement</div>
        <div id="panel3">Tidak ada. gakpernah ikut lomba:(</div>       
    </div>



    

    



</body>

 


</html>