body{
    background-color: #FFBBBB;
}

#judul{
    font-weight: normal; 
    font-style: normal;
    color: #F95FD1;
}

#judul2{
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal;
    color: #F95FD1;
}
