{% load static %}

<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="{% static '/lab_5/sched.css' %}" type="text/css" rel = "stylesheet">

<title>Faza's Daily Schedule</title>
<body>
    <div class="row">
        <div class = "col-md-4"></div>
    <h1 id="judul2">Faza's Daily Schedule</h1>
    </div>

    <div class="row">
        <div class="col-md-9"></div>
        
            <a href="{% url 'lab_5:schedule_delete' %}" type="button" class="btn btn-danger">Delete All Schedule</a>
        
    </div>

    {% for schedule in schedules %}

    <div class = "row">
        <div class="col-md-3"></div>
        <div>
            <p>Tanggal: {{ schedule.date }}</p>
            <p>Tempat: {{ schedule.place }}</p>
            <p>Event: {{ schedule.event }}</p>
            <p>Kategori: {{ schedule.category }}</p>
        </div>
    </div>
    <br>
    {% endfor %}
</body>
</html>
