{% load static %}

<!DOCTYPE html>
<html>

<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lato" type="text/css"/>        
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="{% static '/lab_5/sched.css' %}" type="text/css" rel = "stylesheet">

<title>Faza's Daily Schedule</title>
<body>
    <div class ="row">
        <div class = "col-md-2"></div>
        <div>
                <h1 id="judul"><a href="\lab-4\">Faza's Daily Schedule</a></h1>
            </div>
            
    </div>
    
    <div class = "row">
        <div class = "col-md-4"></div>
            {% for schedule in schedules %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
    
                
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
    </div>

</body>
</html>
