{% load static %}

<html>
<head>
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lato" type="text/css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="{% static '/lab_4/myprofbg.css' %}" type="text/css" rel = "stylesheet">
<title>Faza's Profile</title>

</head>
<body>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <img id="fotoku" src="https://ibb.co/fnBZVL" class="img-rounded" alt="Cinque Terre" width="100%">
      <img id="quote" src="https://ibb.co/dT6jVL" class="img-rounded" alt="Cinque Terre" width="100%">
      <img id="motivation" src="https://ibb.co/gFuXH0" class="img-rounded" alt="Cinque Terre" width="100%">
    </div>
    <div class="col-md-7">
      <h1 id="myname"> Faza Siti Sabira Prakoso</h1>
      <h2 id="ui">Student at University of Indonesia</h2>
      <h3 id="dream">Business woman <a href="/lab-4/jastip/" target="_blank"><button type="button" class="btn btn-primary">JASTIP</button alt="Download" class="img download"></a>     
      </h3>
      
      <img id="experiences"src="https://ibb.co/b6oEVL" class="img-rounded" alt="Cinque Terre" width="80%">
      <img id="education"src="https://ibb.co/efynjf" class="img-rounded" alt="Cinque Terre" width="70%">
      <img id="contact"src="https://ibb.co/eTPGc0" class="img-rounded" alt="Cinque Terre" width="60%">

      <a href="/lab-4/formmember" target="_blank"><button type="button" class="btn btn-default">JOIN ME</button alt="Download" class="img download"></a>     
      

      
      </div>
    </div>
  </div>
</body>
</html>
