body{
    background-color: #FFBBBB;
}

.home{
    background-color: #DB4848;
}

#myname{
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal;
    color: #F95FD1;
}

#ui{
    font-family: 'LatoRegular'; 
    font-weight: normal; 
    font-style: normal; 
    color: #48CE13;
}

#dream{
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal;
    color: #47525E;
}

#fotoku{
    padding: 25px;
}

#quote{
    padding: 25px;
}

#motivation{
    padding: 25px;
}

#experiences{
    padding: 25px;
}

#education{
    padding: 25px;
}

#contact{  
    padding: 25px;
}

#jastip{
    font-family: 'LatoRegular'; 
    font-weight: normal; 
    font-style: normal; 
    color: #47525E;
}

.background{
    background-color: #DB4848;
}

#fototas{
    padding: 25px;
}

.container{
    background-color: #FFBBBB
}




