body{
    background-color: #FFBBBB;
}
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #C779D0;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}
#panel2, #flip2 {
    padding: 5px;
    text-align: center;
    background-color: #C779D0;
    border: solid 1px #c3c3c3;
}

#panel2 {
    padding: 50px;
    display: none;
}
 
#panel3, #flip3 {
    padding: 5px;
    text-align: center;
    background-color: #C779D0;
    border: solid 1px #c3c3c3;
}

#panel3 {
    padding: 50px;
    display: none;
}